@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i|Montserrat:400,700&subset=latin-ext');
/* ue font: */
@font-face {
    font-family: arecibo;
    src: url(../fonts/arecibo.ttf);
}

body{
    background-image: url(../img/bg-pattern.jpg);
    background-size: 120px;
    
}

/* ================ Nav ================ */

.bg-dark {
    background-color: #000!important;
    font-family: 'Merriweather', serif;
}

.navbar-dark .navbar-nav .active>.nav-link{
    color: #E5C282;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
}

/* aktív hamburgermenü - kontúr eltüntetés */
button:focus, .navbar-toggler:focus, .navbar-toggler-icon:focus, .btn:focus {
    border: 1px solid rgba(229, 193, 130, 0.25);
    outline: none;
}


.nav-item {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.navbar-brand img{
    height: 40px;
}

.navbar-brand img {
    margin-top: -10px;
    margin-right: 3vw;
}

.navbar-brand img:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.dropdown-item:hover{
    background-color: rgb(228, 228, 228);
}

.dropdown-item:active{
    background-color: #E5C282;
    color: black;
}

@media screen and (max-width:1024px){
    .navbar-brand img {
        margin-right: 0vw;
    }  

    .nav-item {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

@media screen and (max-width:767px){
    .navbar-brand img {
        padding-left: 0.6rem;
    }  
}
/* ================ /Nav ================ */
/* ================ Fősáv ================ */

#fosav {
    background-color: #6E0D0D;
}

#fosav h1 {
    /* font-family: 'Oleo Script', cursive; */
    font-family: arecibo;
    font-size: 5.5rem;
    text-align: center;
    color: #E8DDCC;
    padding: 70px 0.5rem 0.8rem 0.5rem;
}

/* ================ /Fősáv ================ */
/* ================ Jumbotron ================ */

.jumbotron {
    background-color: #FBEDD5;
    color: #634115;
    font-family: 'Merriweather', serif;
    text-align: center;
}

.jumbotron p {
    font-style: italic;    
    letter-spacing: 0.06rem;
}

/* ================ cim2 ================ */

.cim h2 {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 1.7rem;
}
.deko-side {
    margin: -0.3rem 0.5rem 0 0.5rem;
    display: none;
}

.deko-hori {
    display: block;
    margin: auto;
    max-width: 100%;
}


/* ================ cim3 ================ */

.jumbotron h3 {
    font-size: 1.5rem;
}

@media screen and (min-width:768px) {
    .cim h2 {
        font-size: 2rem;
    }
    
    .cim .deko-side {
        display: inline;
    }
    
    .hide {
        display: none;
    }
} 

/* ================ /Jumbotron ================ */

/* ================ Kapcsolat ================ */

.events-img {
    display: block;
    max-width: 50%;
    margin: auto;
}

/* ================ /Kapcsolat ================ */
