@import url('https://fonts.googleapis.com/css?family=Lobster&subset=latin-ext');
/* ue font: */
@font-face {
    font-family: arecibo;
    src: url('../fonts/arecibo.ttf');
}

@font-face {
    font-family: avenida;
    src: url('../fonts/Avenida LET Plain1.0.ttf');
}

body{
    background-image: url(../img/bg-pattern.jpg);
    background-size: 120px;
    box-sizing: border-box;
}

html,
body {
  height: 100%;
    font-family: 'Georgia', serif;
}

main {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -150px;
  /* Pad bottom by footer height */
  padding: 0 0 150px;
}
/* ================ Nav ================ */

.bg-dark {
    background-color: #000!important;
    font-style: italic;
}

.navbar-dark .navbar-nav .active>.nav-link{
    color: #E5C282;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
    padding: 8px 1vw 0px 1vw;
    font-size: 1.2rem;

}

/* aktív hamburgermenü - kontúr eltüntetés */
button:focus, .navbar-toggler:focus, .navbar-toggler-icon:focus, .btn:focus {
    border: 1px solid rgba(229, 193, 130, 0.25);
    outline: none;
}

.nav-item {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.navbar-brand img{
    height: 35px;
}

.navbar-brand img {
    margin-top: -12px;
    margin-right: 3vw;
}

.dropdown-item:hover{
    background-color: rgb(228, 228, 228);
}

.dropdown-item:active{
    background-color: #E5C282;
    color: black;
}

@media screen and (max-width:1024px){
    .navbar-brand img {
        margin-right: 0vw;
    }  

    .nav-item {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

@media screen and (max-width:767px){
    .navbar-brand img {
        padding-left: 0.6rem;
    }  
}
/* ================ /Nav ================ */
/* ================================ Header ================================ */

#fosav {
    background-color: #6E0D0D;
}

#fosav h1 {
    font-family: arecibo;
    font-size: 5.5rem;
    text-align: center;
    color: #E8DDCC;
    padding: 70px 0.5rem 0.8rem 0.5rem;
}

/* ================================ /Header ================================ */
/* ================================ Jumbotron ================================ */

.jumbotron {
    background-color: #FBEDD5;
    color: #634115;
    font-family: 'Georgia', serif;
    text-align: center;
    
}

.cim h2 {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    margin-bottom: 2.5rem;
}
.deko-side {
    margin: -0.3rem 0.5rem 0 0.5rem;
    display: none;
}

.deko-side-constant {
    margin: -0.3rem 0.5rem 0 0.5rem; 
}

.deko-hori {
    display: block;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 100%;
}

.jumbotron h3 {
    font-family: 'Lobster', cursive;
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 2rem;
}

.keret {
    border: 2px solid rgba(99, 65, 21, 1);
    margin-bottom: 4rem;
}

.keret2 {
    border: 1px solid rgb(175, 142, 101);
    margin: 6px;
    padding: 1rem 1.5rem 3rem 1.5rem;
}

hr {
    border-color: #E5C181;
}

.show {
    display: none;
}

a:hover {
    text-decoration: none;
}

.balrazar {
    text-align: left;
}

.jobbrazar {
    text-align: right;
    display: table;
    margin: auto;
}

@media screen and (min-width:768px) {

    .hide {
        display: none;
    }

    .show {
        display: block;
    }
    .cim h2 {
        text-align: center;
    }
    
    .cim .deko-side {
        display: inline;
    }
    
} 

/* ================================ /Jumbotron ================================ */
/* ================================ Footer ================================ */

.footer {
    height: 150px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-top: 8px;
}

.footerline {
    margin: 12px;
}

#tatai {
    color: white;
    font-weight: 600;
}

/* Facebook */
.fa {
    padding: 8px;
    font-size: 15px;
    width: 32px;
    text-align: center;
    background: #3B5998;
    color: white;
    border-radius: 50%;

}

.fa:hover, #tatai:hover {
    color: rgba(255, 255, 255, 0.7);
}

.fa:hover {
    background: rgba(59, 90, 152, 0.7);
}

.footerline p {
    font-size: 0.82rem;
    color: #E5C181;
}
/* ================================ /Footer ================================ */
/* ================ Menu ================ */

.tetelek {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.2rem;
}

.menu-keret2 {
    border: 1px solid rgb(175, 142, 101);
    margin: 6px;
}

.menu-tetel {
    margin-bottom: 0px;
    font-weight: 700;
    font-style: normal;  
}

.menu-magyarazat {
    margin-bottom: 0px;
    font-style: italic; 
    text-indent: 0.5rem;
}

@media screen and (min-width:768px) {
    .menu-keret2 {
        max-width: 48%;
    }
}

@media screen and (min-width:992px) {
    .menu-keret2 {
        max-width: 31.95%;
    }
}

@media screen and (min-width:1200px) {
    .menu-keret2 {
        max-width: 32.2%;
    }
}

/* ================ /Menu ================ */

/* ================ Gallery ================ */

/* ================ /Gallery ================ */