@import url('https://fonts.googleapis.com/css?family=Lobster&subset=latin-ext');
/* ue font: */

@font-face {
    font-family: arecibo;
    src: url('../fonts/arecibo.ttf');
}

body {
    background-image: url(../img/bg-pattern.jpg);
    background-size: 120px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Georgia', serif;
}

main {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -150px;
    /* Pad bottom by footer height */
    padding: 0 0 150px;
}

/* ================================================ Nav ================================================ */

.bg-dark {
    background-color: #000!important;
    font-style: italic;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: #E5C282;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding: 8px 1vw 0px 1vw;
    font-size: 1.2rem;
    text-align: center;
    transition: .2s;
}

/* aktív hamburgermenü - kontúr eltüntetés */

button:focus, .navbar-toggler:focus, .navbar-toggler-icon:focus, .btn:focus {
    border: 1px solid rgba(229, 193, 130, 0.25);
    outline: none;
}

.nav-item {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.navbar-brand img {
    height: 35px;
    margin-top: -12px;
    margin-right: 3vw;
    filter: sepia(100%);
    transition: .2s;
}

.navbar-brand img:hover {
    height: 37px;
    margin-top: -13px;
    margin-right: calc(3vw - 2px);
    filter: none;
}

@media screen and (max-width:1024px) {
    .navbar-brand img {
        margin-right: 0vw;
    }
    .nav-item {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

@media screen and (max-width:767px) {
    .navbar-brand img {
        padding-left: 0.6rem;
    }
}

/* ================ /Nav ================ */

/* ================================ Header ================================ */

#fosav {
    background-color: #6E0D0D;
}

#fosav h1 {
    font-family: arecibo;
    font-size: 5.5rem;
    text-align: center;
    color: #E8DDCC;
    padding: 70px 0.5rem 0.8rem 0.5rem;
}

/* ================================ /Header ================================ */

/* ================================ Jumbotron ================================ */

.jumbotron {
    background-color: #FBEDD5;
    color: #634115;
    font-family: 'Georgia', serif;
    text-align: center;
}

.jumbokep {
    width: calc(100% - 12px);
    margin: 6px;
    border: 1px solid rgb(175, 142, 101);
}

.cim h2 {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    margin-bottom: 2.5rem;
}

.deko-side {
    margin: -0.3rem 0.5rem 0 0.5rem;
    display: none;
}

.deko-side-constant {
    margin: -0.3rem 0.5rem 0 0.5rem;
}

.deko-hori {
    display: block;
    margin: auto;
    margin-top: 1rem;
    max-width: 100%;
}

.jumbotron h3, .jumbotron h4 {
    font-family: 'Lobster', cursive;
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 2rem;
}

.keret {
    border: 2px solid rgba(99, 65, 21, 1);
    margin-bottom: 2.5rem;
    padding: 0;
}

.keret2 {
    border: 1px solid rgb(175, 142, 101);
    margin: 6px;
    padding: 1rem 1.5rem 2rem 1.5rem;
}

hr {
    border-color: #E5C181;
}

.show {
    display: none;
}

a:hover {
    text-decoration: none;
}

.balrazar {
    text-align: left;
}

.jobbrazar {
    text-align: right;
    display: table;
    margin: auto;
}

.dolt {
    font-style: italic;
}

.kenyer {
    margin: 1.5rem 0;
}

@media screen and (min-width:768px) {
    .hide {
        display: none;
    }
    .show {
        display: block;
    }
    .cim h2 {
        text-align: center;
    }
    .cim .deko-side {
        display: inline;
    }
}

/* ================================ /Jumbotron ================================ */

/* ================================ Footer ================================ */

.footer {
    height: 150px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-top: 8px;
}

.footerline {
    margin: 12px;
}

#tatai {
    color: white;
    font-weight: 600;
    transition: .2s;
}

/* Facebook */

.fa {
    padding: 8px;
    font-size: 15px;
    width: 32px;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
    border-radius: 50%;
    transition: .2s;
}

.fa:hover, #tatai:hover {
    color: rgba(255, 255, 255, 0.7);
}

.fa:hover {
    background: #3B5998;
    color: white;
}

.footerline p {
    font-size: 0.82rem;
    color: #E5C181;
}

/* ================================ /Footer ================================ */

/* ================ Index ================ */

.gallery-table {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: minmax(50px, 50px);
    grid-gap: 6px;
    margin: 6px;
}

#terasz {
    background-image: url(../img/fooldal/terasz.jpg);
    grid-column: 1 / 5;
    grid-row: 1 / 10;
}

#tabla {
    background-image: url(../img/fooldal/blackboard.jpg);
    position: relative;
    grid-column: 1 / 5;
    grid-row: 10 / 22;
}

#virag {
    background-image: url(../img/fooldal/virag.jpg);
    grid-column: 1 / 5;
    grid-row: 22 / 26;
}

#suti {
    background-image: url(../img/fooldal/suti.jpg);
    grid-column: 1 / 5;
    grid-row: 26 / 31;
}

#malna {
    background-image: url(../img/fooldal/malna.jpg);
    grid-column: 1 / 5;
    grid-row: 31 / 39;
}

.grid-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#felirat {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    top: 3rem;
    padding: 25px;
}

#welcome {
    color: #E8DDCC;
    font-family: 'Lobster', cursive;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

#nyitva {
    font-family: arecibo;
    font-size: 3.5rem;
    color: #E5C282;
}

#szezon {
    font-size: 1.4rem;
    margin-bottom: 3.2rem;
    color: #E5C282;
}

@media (min-width: 480px) {
    #virag {
        grid-column: 1 / 5;
        grid-row: 22 / 27;
    }
    
    #suti {
        grid-column: 1 / 5;
        grid-row: 27 / 34;
    }
    
    #malna {
        grid-column: 1 / 5;
        grid-row: 34 / 44;
    }  
}

@media (min-width: 768px) {
    #terasz {
        grid-column: 1 / 6;
        grid-row: 1 / 13;
    }
    
    #tabla {
        grid-column: 6 / 10;
        grid-row: 1 / 13;
    }

    #virag {
        grid-column: 1 / 4;
        grid-row: 13 / 18;
    }
    
    #suti {
        grid-column: 4 / 7;
        grid-row: 13 / 18;
    }
    
    #malna {
        grid-column: 7 / 10;
        grid-row: 13 / 18;
    }
}

@media screen and (min-width: 1200px) {
    #terasz {
        grid-column: 1 / 6;
        grid-row: 1 / 13;
    }
    
    #tabla {
        grid-column: 6 / 9;
        grid-row: 1 / 13;
    }

    #virag {
        grid-column: 9 / 11;
        grid-row: 1 / 4;
    }
    
    #suti {
        grid-column: 9 / 11;
        grid-row: 4 / 8;
    }
    
    #malna {
        grid-column: 9 / 11;
        grid-row: 8 / 13;
    }
}

/* ================ /Index ================ */

/* ================ Kapcsolat ================ */

#kontaktnev {
    margin-bottom: 0.2rem;
}

.kont-link {
    color: #634115;
}

.kont-link:hover {
    color: goldenrod;
    font-weight: 700;
}

.google-map iframe {
    width: 100% !important;
}

#kontakt {
    line-height: 1.7rem;
}

/* ================ /Kapcsolat ================ */